*{margin:0;padding: 0;}
body {
  font-family:"宋体";
  background-color: #FBFBFB;
}
.loginBox {
  width:420px;
  height:230px;
  padding:0 20px;
  border:1px solid #fff;
  color:#000;
  margin-top:40px;
  border-radius:8px;
  background: white;
  box-shadow:0 0 15px #222;
  background: -moz-linear-gradient(top, #fff, #efefef 8%);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
  font:11px/1.5em 'Microsoft YaHei' ;
  position: absolute;left:50%;
  top:50%;margin-left:-210px;
  margin-top:-115px;
}

.loginBox h2 {
  height:45px;
  font-size:20px;
  font-weight:normal;
}
.loginBox .left {
  border-right:1px solid #ccc;
  height:100%;
  padding-right: 20px;
  width: 181px;
  display: inline-block;
}

.loginBox .right {
  width: 164px;
  margin-left: 28px;
  display: inline-block;
}

.regBtn {
  margin-top:21px;
}

.regTemp {
  box-shadow: 2px 41px 8px 3px #ADA2A2;
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  background: #FDFBFB;
  border-radius: 5px;
  color: #444;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 557px;
  height: 443px;
}

.regTop {
  background: #ECEAEA;
  margin-left: -18px;
  margin-right: -18px;
  margin-top: 11px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 93px;
}

.regTop .regtitle {
  font-size: 32px;
  font-family: inherit;
  font-weight: lighter;
  color: #525050;
  position: relative;
  top: 11px;
  left: 64px;
}

.regTop .regLogo {
  width: 43px;
  margin-left: 17px;
  margin-top: 5px;
}

.regInfo {
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
  margin-top: 25px;
}

.regInfo .titleOne {

}

.regInfo .titleTwo {
  color: #3A4F9A;
  cursor: pointer;
}

.regInfo .regInputs {
  text-align: -webkit-center;
}

.regInfo .regInputs span {
  font-size: 11px;
  color: red;
  position: relative;
  left: -128px;
}

.regInfo .regInputs input {
  display: block;
  width: 428px;
  height: 28px;
  font-size: 12px;
  font-weight: normal;
  padding-left: 7px;
  margin-top: 25px;
  border-radius: 4px;
  border: 1px solid #CECACA;
}

.regBtm {
  background: #EFEFEF;
  height: 52px;
  margin-right: -18px;
  margin-left: -18px;
  margin-top: 52px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.regBtm .regCancel {
  position: relative;
  font-family: monospace;
  font-weight: lighter;
  font-size: 18px;
  color: #6184E4;
  top: 12px;
  left: 329px;
  cursor: pointer;
}

.regBtm .regLine {
  position: relative;
  font-family: monospace;
  font-weight: lighter;
  font-size: 18px;
  color: #B3B6BF;
  top: 12px;
  left: 347px;
}

.regBtm .regSure {
  position: relative;
  font-family: monospace;
  font-weight: lighter;
  font-size: 18px;
  color: #1550F3;
  top: 12px;
  left: 356px;
  cursor: pointer;
}
