<!DOCTYPE html>
<html ng-app="tenantApp" lang="en">
<head id="th_head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <script src="../../js/jslib/angularlib/angular.js"></script>
    <script src="../../js/jslib/ngDialog.js"></script>
    <script src="../../js/jslib/ngStorage.js"></script>
    <script src="../../js/tenantjs/tenantApp.js"></script>

    <script src="../../js/jslib/jquery-2.1.4.min.js"></script>
    <script src="../../js/jslib/bootstrap-3.3.6.min.js"></script>
    <script src="../../js/jslib/bootstrap-datetimepicker.js"></script>

    <link href="../../css/csslib/bootstrap-3.3.6.min.css" rel="stylesheet"/>
    <link href="../../css/csslib/bootstrap-datetimepicker.css" rel="stylesheet"/>


    <link href="../../css/csslib/home.css" rel="stylesheet">
    <link href="../../css/tenantcss/tenantmain.css" rel="stylesheet">
    <link href="../../css/csslib/ngDialog.css" rel="stylesheet" >
    <!-- 其他script或style请写在body最后面 -->


    <title></title>
</head>
<body ng-controller="tenantMainCtrl">
<!-- NAVIGATION -->
<nav id="th_navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home.html">租户数据库系统</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a href="">登出</a></li>
                <li><a href="">设置</a></li>
                <li><a href="">信息</a></li>
                <li><a href="">帮助</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- CONTENT -->
<div id="th_content" class="container-fluid">
    <div class="row">
        <!--SIDE_BAR-->
        <div id="th_sidebar" class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><h4 class="sub-header" ng-click='showModel(1)'><a href="">查看数据库权限</a></h4></li>
                <!--<li><a href="#" >其他<span class="sr-only">(current)</span></a></li>-->
            </ul>
            <ul class="nav nav-sidebar">
                <li><h4 class="sub-header" ng-click='showModel(2)'><a href="">申请数据库</a></h4></li>
            </ul>

            <ul class="nav nav-sidebar">
                <li><h4 class="sub-header" ng-click='showModel(3)'><a href="">个人信息修改</a></h4></li>
            </ul>

            <ul class="nav nav-sidebar">
                <li><h4 class="sub-header" ng-click='showModel(4)'><a href="">数据库监控</a></h4></li>
            </ul>

        </div>

        <!--CONTENT_CONTAINER-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <!-- BEGIN************************请在此处添加内容************************ -->
          <div ng-show='checkAuth' >
            <div class="userInfo">
              <span class='userTitle'>租户信息</span>
              <hr>
              <table>
                <tr>
                  <td class='letd'>
                    租户名称
                  </td>
                  <td class='ritd'>
                    {{userName}}
                  </td>
                </tr>
                <tr>
                  <td class='letd'>
                    容量权限
                  </td>
                  <td class='ritd'>
                    {{tenantcap}}GB
                  </td>
                </tr>
                <tr>
                  <td class='letd'>
                    注册时间
                  </td>
                  <td class='ritd'>
                    2015-7-19
                  </td>
                </tr>
              </table>
              <span class='userTitle'>数据库信息</span>
              <hr>
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">数据库内容信息权限查看</div>
                <div class="panel-body">
                  <p>以下为租户所拥有的各数据库设置</p>
                </div>

                <!-- Table -->
                <table class="table" style="width:100%; margin-left:0px;">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>名称</th>
                      <th>容量</th>
                      <th>申请时间</th>
                      <th>到期时间</th>
                      <th>隔离策略</th>
                      <th>状态</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr ng-repeat='sche in schemas'>
                      <th scope="row">{{sche.k}}</th>
                      <td class='tenantname' ng-click='digSchema(sche.name, sche.isolation)'>{{sche.name}}</td>
                      <td>{{sche.capacity}}GB</td>
                      <td>{{sche.regtime}}</td>
                      <td>{{sche.endtime}}</td>
                      <td>{{sche.isolation}}</td>
                      <td class='normalDbStatus'>{{sche.sta}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>
          </div>

          <div ng-show='showOneSchmaInfo' class='userInfo'>
            <span class='userTitle'>数据库{{theSchemaName}}</span>
            <hr>

            <table>
              <tr>
                <td class='letd'>
                  数据库名称
                </td>
                <td class='ritd'>
                  {{theSchemaName}}
                </td>
              </tr>
              <tr>
                <td class='letd'>
                  数据库类型
                </td>
                <td class='ritd'>
                  {{theSchemaIso}}
                </td>
              </tr>
            </table>

            <span class='userTitle'>使用方式</span>
            <hr>

            <div ng-show='dd'>
              <table>
                <tr>
                  <td class='letd'>
                    数据库地址
                  </td>
                  <td class='ritd'>
                    223.12.3.2
                  </td>
                </tr>
                <tr>
                  <td class='letd'>
                    账号
                  </td>
                  <td class='ritd'>
                    {{tenantId}}
                  </td>
                </tr>
                <tr>
                  <td class='letd'>
                    密码
                  </td>
                  <td class='ritd'>
                    gggttteeee
                  </td>
                </tr>

              </table>
            </div>

            <div ng-show='ii'>
              <span class='restintr'>
              Restful API是提供给租户自己编写的程序所要使用的对数据库进行请求操作的URL，让租户能不仅在网页，也可以在自己的程序中便捷的使用编辑系统数据库。
每一个租户都有一个在系统内属于自己的id与数据隔离类别
              </span>
              <div class="restkind">
                A.	GET
              </div>
              <div class="restinfo">


通过指定ID或其他column值获取对应的数据项
格式：http://localhost:8080/”数据隔离类别”/“租户ID”/Schema/table/”Column”/….
例如：http://localhost:8080/ind/u87892923/SC1/user/id/17
ind：独立数据库
uind: 共享数据库独立表
uu:共享数据库共享表
</div>
<div class="restkind">


B.	PUT
</div>
<div class="restinfo">


根据指定id或其他column值修改对应的数据项
例如：http://localhost:8080/ind/u87892923/SC1/user/id/17
</div>
<div class="restkind">


C.	DELETE
</div>
<div class="restinfo">


利用PUT将某个数据项全部改为空极为DELETE
</div>
<div class="restkind">


D.	POST
</div>
<div class="restinfo">


往表里添加数据项
例如：http://localhost:8080/ind/u87892923/SC1/user
</div>
<div class="restkind">



E.	资源管理
</div>
<div class="restinfo">


每个资源可以关联一个文件，并且以JSON格式在程序中绑定传入数据库
</div>
<div class="restkind">


F.	导出文件
</div>
<div class="restinfo">


可以导出根据指定数据项获得与其绑定的文件
</div>

            </div>

          </div>

          <div ng-show='regDatabase'>
            <div class="userInfo">
              <span class='userTitle'>申请数据库</span>
              <hr>
              <div class="inputs">
                <div class="input-group theinput">
                  <span class="input-group-addon titlelen">数据库名称</span>
                  <input type="text" ng-model='tarsc.name' class="form-control inputlen">
                </div>
                <div class="input-group theinput">
                  <span class="input-group-addon titlelen">容量需求/GB</span>
                  <input type="number" ng-model='tarsc.cap' class="form-control inputlen">
                </div>
                <div class="input-group theinput">
                  <span class="input-group-addon titlelen">到期时间</span>
                  <input ng-model='tarsc.lifetime' type="text" style='background-color:white;' id='regDbTime' readonly class="form_datetime form-control inputlen">
                </div>

                <div class="input-group theinput">
                  <span class="input-group-addon titlelen">数据隔离模式</span>
                  <select ng-model='tarsc.isolation' class="form-control inputlen" >
                    <option value='1'>独立数据库</option>
                    <option value='2'>共享数据库独立表</option>
                    <option value='3'>共享数据库共享表</option>
                  </select>
                </div>

                <button type="button" class="btn btn-success applybtn" ng-click='regSchema(tarsc)'>确认</button>
              </div>
            </div>

          </div>

          <div ng-show='infoChange'>
            <div class="userInfo">
              <span class='userTitle'>个人信息修改</span>
              <hr>
              <div class="inputs">
                <div class="input-group theinput">
                  <span class="input-group-addon titlelen" id="basic-addon1">名字</span>
                  <input type="text" class="form-control inputlen" aria-describedby="basic-addon1">
                </div>
                <div class="input-group theinput">
                  <span class="input-group-addon titlelen" id="basic-addon1">容量</span>
                  <input type="text" class="form-control inputlen" aria-describedby="basic-addon1">
                </div>

                <button type="button" class="btn btn-success applybtn" ng-click='regSchema()'>确认</button>
              </div>
            </div>
          </div>

          <div ng-show='spyDatabase'>
            <div class="userInfo">
              <span class='userTitle'>数据库监控</span>
              <hr>
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">数据库内容信息权限查看</div>
                <div class="panel-body">
                  <p>以下为租户所拥有的各数据库设置</p>
                </div>

                <!-- Table -->
                <table class="table" style="width:100%; margin-left:0px;">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>名称</th>
                      <th>容量</th>
                      <th>已使用</th>
                      <th>隔离策略</th>
                      <th>状态</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr ng-repeat='item in moschemas'>
                      <th scope="row">{{item.k}}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.capacity}}G</td>
                      <td>{{item.usedcap}}G</td>
                      <td>{{item.isolation}}</td>
                      <td class='normalDbStatus'>{{item.sta}}</td>
                    </tr>

                  </tbody>
                </table>
              </div>

            </div>
          </div>



            <!--<h2 class="sub-header">二级模块</h2>-->
        <!-- END************************请在此处添加内容************************ -->
        </div><!-- content_container -->


    </div><!--row-->
</div><!-- /.container -->

<!-- FOOTER -->
<div></div>
<!-- EXTRA_SCRIPT -->
<script></script>
<!-- EXTRA_STYLE -->
<style></style>
</body>
<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
</script>
</html>
